/* 1st step global body css */
body{
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 2nd step header css */

header{
    background-color: #000000;
    color: rgb(17, 108, 236);
    padding: 15px;
    text-align: center;
}

/* 3rd step navigation bar css */

nav{
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: royalblue;
}
/* 4th step main content css */
.content{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.box{
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* 5th step footer css */
footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* 6th step responsive design for smaller screens */

@media (max-width: 600px){
    .content{
        flex-wrap: wrap;
    }
    .box{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 80%;
        margin-top: 15px;
    }
    .header, footer{
        font-size: 14px;
    }
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #0da0d5;
}
.item{
    background-color: antiquewhite;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color:green;
}
.grid-item{
    background-color: yellow;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}